.skills {
    background: linear-gradient(45deg, var(--tertiary-color), var(--background-color));
    scroll-margin-top: 8rem;
}

.skills .skills_content {
    padding: 6rem 4rem;
    text-align: center;
}

.skills .skills_content .description {
    max-width: 56rem;
    margin: 5rem auto 6rem;
}

.skills .skills_content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.skills .skills_content ul li .image_container {
    background-color: var(--background-color-icon);
    padding: 2rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 1);
    margin: 0 auto;
}

.skills .skills_content ul li {
    margin-right: 3rem;
}

.skills .skills_content ul li .image_container .webdesign {
    margin-top: 1rem;
}

.skills .skills_content ul li .image_container .chatbot {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
}

.skills .skills_content ul li h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 1rem;
    color: var(--creamer);
}

.skills .skills_content ul li p {
    text-align: justify;
}